* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.body-container {
  /*
  border: red 2px solid;
  */
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100%;
}