.chore-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

.chore-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.individual-chore {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.chore-buttons {
  justify-self: center;
  margin-top: 20px;
}

.choreButtonAssign {
  cursor: pointer;
  border: 2px solid rgba(143, 82, 77, 1);
  border-radius: 8px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Jua";
}

.choreButtonUnassign {
  cursor: pointer;
  border: 2px solid rgba(143, 82, 77, 1);
  border-radius: 8px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Jua";
}

.choreButtonComplete {
  cursor: pointer;
  border: 2px solid rgba(143, 82, 77, 1);
  border-radius: 8px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Jua";
}

.choreButtonReopen {
  cursor: pointer;
  border: 2px solid rgba(143, 82, 77, 1);
  border-radius: 8px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Jua";
}