.individual-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-details {
  margin-top: 10px;
  color: rgba(170, 170, 170, 1);
}

.user-display {
  display: flex;
}

.user {
  margin-top: 10px;
  margin-left: 5px;
  color: rgba(143, 82, 77, 1);
}