.ChoreList {
  display: flex;
  flex-direction: column;
  width: 75vw;
  max-width: 75vw;
  overflow: hidden;
  padding: 10px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 14px;
  margin-bottom: 5vh;
  min-height: 80vh;
}

.List {
  position: relative;
  padding-top: 24px;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Jua";
  background-color: rgba(255, 230, 200, 1);
}

.UserProfile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.MyProfile {
  display: flex;
  flex-direction: column;
  margin-left: 3.5em;
}

.main-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  margin-top: 2em;
}

.Leaderboard-container {
  background-color: rgba(245, 245, 245, 1);
  width: 15vw;
  padding: 20px;
  border-radius: 14px;
  height: 700px;
  min-height: 80vh;
}

.UnassignedChores {
  border-style: solid;
  border-color: rgba(229, 229, 229, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  min-width: 30%;
  min-height: 100%;
  overflow-y: auto;
  max-height: 95%;
}

.AssignedChores {
  border-style: solid;
  border-color: rgba(229, 229, 229, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  min-width: 30%;
  min-height: 100%;
  overflow-y: auto;
  max-height: 95%;
}

.CompletedChores {
  border-style: solid;
  border-color: rgba(229, 229, 229, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  min-width: 30%;
  min-height: 100%;
  overflow-y: auto;
  max-height: 95%;
}

.chorelist-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.chorelist-body {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  overflow: auto;
  max-height: 70vh;
}

.profile-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
}

.user-name {
  font-size: 32px;
  margin-left: 10px;
  color: rgba(143, 82, 77, 1);
  text-shadow:
    -3px -3px 0 rgba(255, 255, 255, 1),
     3px -3px 0 rgba(255, 255, 255, 1),
    -3px  3px 0 rgba(255, 255, 255, 1),
     3px  3px 0 rgba(255, 255, 255, 1),
    -3px  0   0 rgba(255, 255, 255, 1),
     3px  0   0 rgba(255, 255, 255, 1),
     0   3px  0 rgba(255, 255, 255, 1),
     0  -3px  0 rgba(255, 255, 255, 1);
  font-weight: bold;
}

.changeUserButton {
  margin-left: 10px;
  padding: 8px;
  font-size: 15px;
  font-family: "Jua";
  background-color: rgba(255, 194, 77, 1);
  border-color: rgba(255, 194, 77, 1);
  color: white;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: rgba(109, 82, 119, 1) 3px 3px;
}

.changeUserButton:hover {
  cursor: pointer;
  background-color: rgba(255, 170, 30, 1);
  border-color: rgba(255, 170, 30, 1);
  box-shadow:
    rgba(109, 82, 119, 1) 3px 3px,
    0 0 8px rgba(255, 194, 77, 0.7);
}

.create-chore-button {
  font-size: 15px;
  font-family: "Jua";
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: rgba(255, 194, 77, 1);
  border-color: rgba(255, 194, 77, 1);
  color: white;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: rgba(109, 82, 119, 1) 3px 3px;
}

.create-chore-button:hover {
  cursor: pointer;
  background-color: rgba(255, 170, 30, 1);
  border-color: rgba(255, 170, 30, 1);
  box-shadow:
    rgba(109, 82, 119, 1) 3px 3px,
    0 0 8px rgba(255, 194, 77, 0.7);
}

/*TODO change the css below */

.MyPoints {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  padding: 6px 12px;
  border-radius: 999px;
  box-shadow: 2px 3px 0 #7e5f94;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 40px;
  margin-right: 100px;
  padding-left: 150px;
  height: 30px;
}

.Coin {
  width: 80px;
  height: 80px;
  background: rgba(255, 192, 87, 1);
  border-radius: 50%;
  border: 10px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  position: absolute;
  right: 7%;
}

.InnerCoin {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 152, 58, 1);
  border-radius: 50%;
}

.point-value {
  display: inline;
  font-size: 32px;
  color: rgba(143, 82, 77, 1);
  text-shadow:
    -3px -3px 0 rgba(255, 255, 255, 1),
     3px -3px 0 rgba(255, 255, 255, 1),
    -3px  3px 0 rgba(255, 255, 255, 1),
     3px  3px 0 rgba(255, 255, 255, 1),
    -3px  0   0 rgba(255, 255, 255, 1),
     3px  0   0 rgba(255, 255, 255, 1),
     0   3px  0 rgba(255, 255, 255, 1),
     0  -3px  0 rgba(255, 255, 255, 1);
  font-weight: bold;
  position: absolute;
  top: 3.5%;
  right: 5.2%;
}

/*TODO only the css above so far */

.chore-header {
  display: flex;
  position: sticky;
  top: -20px;
  z-index: 10;
  background-color: white;
  padding: 10px;
}

.chorely {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 24px;
}

.chore-form-container {
  position: fixed;
}

.unassigned-circle {
  width: 20px;
  height: 20px;
  background-color: rgba(170, 230, 255, 1);
  border-radius: 50%;
  margin-right: 10px;
}

.assigned-circle {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 173, 173, 1);
  border-radius: 50%;
  margin-right: 10px;
}

.completed-circle {
  width: 20px;
  height: 20px;
  background-color: rgba(160, 214, 131, 1);
  border-radius: 50%;
  margin-right: 10px;
}

.leaderboardly {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.mascot {
  position: absolute;
  width: 200px;
  height: auto;
  left: 69%;
  top: 2.3%;
}