.ChoreList {
  display: flex;
  width: 70vw;
  max-width: 70vw;
  padding: 10px;
  justify-content: space-around;
  border: blue 2px solid;
}

.List {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  box-sizing: border-box;
  border: pink 2px solid;
  font-family: "Jua";
  background-color: rgba(255, 230, 200, 1);
}

.UserProfile {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border: red 2px solid;
}

.MyProfile {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  position: inherit;
  flex-direction: row;
  justify-content: space-around;
  top: 10em;
  width: 100vw;
  height: max-content;
}

.Leaderboard-container {
  border: green 2px solid;
  width: 15vw;
  padding: 10px;
}